In [1]:
import settings
class Namespace(object):
    def __init__(self, **kwargs):
        self.__dict__.update(kwargs)
    def __repr__(self):
        return self.__dict__
connection_settings = Namespace(
    HOST="irc.twitch.tv",
    PORT=6667,
    PASS=settings.PASS, # generate at https://twitchapps.com/tmi/
    # the bot will connect as the user whose account is provided
    NICK=settings.NICKNAME, 
    #your username - you connect as twitch user, 
    # so 1 twitch account - 1 bot. Bot nickname will be = username
    #don't know if you can set other nickname or use 1 account for yourself and bot, for example
    STREAM = settings.CHANNEL
    # channel where to connect to
)

NameError: name 'Namespace' is not defined

In [3]:
from pony import orm

In [6]:
class Data(orm.core.Entity):
    pass

ERDiagramError: Base Entity does not belong to any database

In [2]:
fixPath('./~/test')

NameError: name 'fixPath' is not defined

In [8]:
import datetime
import pony.orm as pny

def fixPath(path):
    import os
    return os.path.abspath(os.path.expanduser(path))

    
database = pny.Database("sqlite", fixPath("./test.sqlite"), create_db=True)
 
########################################################################
class Artist(database.Entity):
    """
    Pony ORM model of the Artist table
    """
    name = pny.Required(unicode)
    albums = pny.Set("Album")
    
    def __str__(self):
        return self.name
 
#######################################################################
class Album(database.Entity):
    """
    Pony ORM model of album table
    """
    artist = pny.Required(Artist)
    title = pny.Required(unicode)
    release_date = pny.Required(datetime.date)
    publisher = pny.Required(unicode)
    media_type = pny.Required(unicode)
    
    
 
# turn on debug mode
pny.sql_debug(True)
 
# map the models to the database 
# and create the tables, if they don't exist

GET NEW CONNECTION
RELEASE CONNECTION

In [9]:
class A(database.Entity):
    """
    Pony ORM model of album table
    """
    name = pny.Required(str)
    

class B(A):
    """
    Pony ORM model of album table
    """
    name2 = pny.Required(str)
    

class C(A):
    """
    Pony ORM model of album table
    """
    name3 = pny.Required(str)

In [10]:
database.generate_mapping(create_tables=True)

GET CONNECTION FROM THE LOCAL POOL
PRAGMA foreign_keys = false
BEGIN IMMEDIATE TRANSACTION
CREATE TABLE "A" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT NOT NULL,
  "classtype" TEXT NOT NULL,
  "name2" TEXT,
  "name3" TEXT
)

SELECT "A"."id", "A"."name", "A"."classtype", "A"."name2", "A"."name3"
FROM "A" "A"
WHERE 0 = 1

SELECT "Album"."id", "Album"."artist", "Album"."title", "Album"."release_date", "Album"."publisher", "Album"."media_type"
FROM "Album" "Album"
WHERE 0 = 1

SELECT "Artist"."id", "Artist"."name"
FROM "Artist" "Artist"
WHERE 0 = 1

COMMIT
PRAGMA foreign_keys = true
CLOSE CONNECTION

In [13]:
a1 = A(name='a')
a2 = B(name='x',name2='y')
a3 = C(name='z',name3='s')

In [15]:
orm.commit()

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "A" ("name", "classtype") VALUES (?, ?)
[u'a', 'A']

INSERT INTO "A" ("name", "classtype") VALUES (?, ?)
[u'a', 'A']

INSERT INTO "A" ("name", "classtype", "name2") VALUES (?, ?, ?)
[u'x', 'B', u'y']

INSERT INTO "A" ("name", "classtype", "name3") VALUES (?, ?, ?)
[u'z', 'C', u's']

COMMIT

In [17]:
q = orm.select(a for a in A)

In [19]:
q.show()

BEGIN IMMEDIATE TRANSACTION
SELECT "a"."id", "a"."name", "a"."classtype", "a"."name2", "a"."name3"
FROM "A" "a"
WHERE "a"."classtype" IN ('B', 'C', 'A')

id|name|classtype
--+----+---------
1 |a   |A
2 |a   |A
3 |x   |B
4 |z   |C

In [20]:
database.

__main__.A

In [46]:
art = Artist(name='test', albums={})

In [47]:
alb = Album( artist = art,
    title = 'test1',
    release_date = datetime.datetime.now(),
    publisher = 'test2',
    media_type = 'test3')

In [48]:
database.entities

{'Album': __main__.Album, 'Artist': __main__.Artist}

In [49]:
database = pny.Database("sqlite", fixPath("./test.sqlite"), create_db=True)

GET NEW CONNECTION
RELEASE CONNECTION

In [50]:
alb

Album[new:13]

In [51]:
art

Artist[new:12]

In [52]:
# import datetime
# import pony.orm as pny
 
# from models import Album, Artist

In [53]:
#----------------------------------------------------------------------
@pny.db_session
def add_data():
    """"""
 
    new_artist = Artist(name=u"Newsboys")
    bands = [u"MXPX", u"Kutless", u"Thousand Foot Krutch"]
    for band in bands:
        artist = Artist(name=band)
 
    album = Album(artist=new_artist,
                  title=u"Read All About It",
                  release_date=datetime.date(1988,12,01),
                  publisher=u"Refuge",
                  media_type=u"CD")
 
    albums = [{"artist": new_artist,
               "title": "Hell is for Wimps",
               "release_date": datetime.date(1990,07,31),
               "publisher": "Sparrow",
               "media_type": "CD"
               },
              {"artist": new_artist,
               "title": "Love Liberty Disco", 
               "release_date": datetime.date(1999,11,16),
               "publisher": "Sparrow",
               "media_type": "CD"
              },
              {"artist": new_artist,
               "title": "Thrive",
               "release_date": datetime.date(2002,03,26),
               "publisher": "Sparrow",
               "media_type": "CD"}
              ]
 
    for album in albums:
        a = Album(**album)
 
# if __name__ == "__main__":
add_data()

# use db_session as a context manager
with pny.db_session:
    a = Artist(name="Skillet")

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Artist" ("name") VALUES (?)
[u'test']

INSERT INTO "Album" ("artist", "title", "release_date", "publisher", "media_type") VALUES (?, ?, ?, ?, ?)
[7, u'test1', '2017-07-19', u'test2', u'test3']

INSERT INTO "Artist" ("name") VALUES (?)
[u'Newsboys']

INSERT INTO "Artist" ("name") VALUES (?)
[u'MXPX']

INSERT INTO "Artist" ("name") VALUES (?)
[u'Kutless']

INSERT INTO "Artist" ("name") VALUES (?)
[u'Thousand Foot Krutch']

INSERT INTO "Album" ("artist", "title", "release_date", "publisher", "media_type") VALUES (?, ?, ?, ?, ?)
[8, u'Read All About It', '1988-12-01', u'Refuge', u'CD']

INSERT INTO "Album" ("artist", "title", "release_date", "publisher", "media_type") VALUES (?, ?, ?, ?, ?)
[8, u'Hell is for Wimps', '1990-07-31', u'Sparrow', u'CD']

INSERT INTO "Album" ("artist", "title", "release_date", "publisher", "media_type") VALUES (?, ?, ?, ?, ?)
[8, u'Love Liberty Disco', '1999-11-16', u'Sparrow', u'CD']

INSERT INTO "Album" ("artist", "title", "release_date", "publisher", "media_type") VALUES (?, ?, ?, ?, ?)
[8, u'Thrive', '2002-03-26', u'Sparrow', u'CD']

COMMIT
RELEASE CONNECTION
GET CONNECTION FROM THE LOCAL POOL
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Artist" ("name") VALUES (?)
[u'Skillet']

COMMIT
RELEASE CONNECTION

In [54]:
database.entities

{}

In [55]:
database.generate_mapping(create_tables=True)

GET CONNECTION FROM THE LOCAL POOL
PRAGMA foreign_keys = false
BEGIN IMMEDIATE TRANSACTION
COMMIT
PRAGMA foreign_keys = true
CLOSE CONNECTION

In [56]:
database.entities

{}

In [57]:
database.check_tables()

GET NEW CONNECTION
SWITCH TO AUTOCOMMIT MODE
RELEASE CONNECTION

In [58]:
database.schema.tables

{}

In [59]:
with pny.db_session:
#     band = Artist.get(name="Newsboys")
#     print band.name
 
#     for record in band.albums:
#         print record.title
 
#     # update a record
#     band_name = Artist.get(name="Kutless")
#     band_name.name = "Beach Boys"
#     band = orm.select(Artist.get()
    albums = orm.select(c for c in Album)
    artists = orm.select(c for c in Artist)

In [61]:
for a in albums:
    print a.artist

test
Newsboys
Newsboys
Newsboys
Newsboys
test
Newsboys
Newsboys
Newsboys
Newsboys

In [ ]:
orm.db_session